*{
  box-sizing: border-box;
 
}

#div1{
  height: 300px;
  width: 500px;
  background-color: gainsboro;
  border: 3px dotted orangered;
  outline: 3px solid lightgreen;
  outline-offset: 5px;
  margin: 50px;
  padding: 15px;
}

#div2{
  height: 100px;
  width: 500px;
  background-color: lightcoral;
  border: 3px solid lightseagreen;
  margin: 15px;
  padding: 5px;
  overflow: auto;
}

#div3{
  min-height: 100px;
  width: 500px;
  background-color: lightblue;
  border: 3px double orangered;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  float: left;
}

#div4{
  min-height: 100px;
  width: 500px;
  background-color: lightblue;
  border: 3px solid rgb(173, 23, 23);
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px 7px gray;
  float: right;
}

#div5{
  min-height: 100px;
  width: 500px;
  background-color: lightblue;
  border: 3px double orangered;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  clear: left;
}

#div6{
  height: 300px;
  width: 500px;
  background-color: rgb(8, 165, 173);
  border: 3px solid darkslategray;
  margin: 50px;
  padding: 15px;
  font-family: monospace;
  font-size: 16px;
  line-height: normal;
}

#div7{
  min-height: 100px;
  width: 500px;
  background-color: rgb(162, 234, 62);
  border: 3px solid darkslategray;
  margin: 50px;
  padding: 15px;
  font-family: sans-serif;
  text-align: center;
  text-indent: 50px;
  text-align-last: center;
  text-transform: capitalize;
  word-spacing: 20px;
  text-decoration: underline rgb(173, 57, 8) dashed;
}

#div8{
  min-height: 300px;
  width: 500px;
  background-color: gainsboro;
  border: 3px solid orangered;
  margin: 50px;
  padding: 15px;
  word-break: break-all;
  text-shadow: 2px 2px 2px darkred;
}
#div8 #writing-mode{writing-mode: vertical-lr};

#div9{
  height: 300px;
  width: 500px;
  background-color: gainsboro;
  border: 3px dotted orangered;
  margin: 50px;
  padding: 15px;
}

#div10{
  min-height: 300px;
  width: 500px;
  background-color: gainsboro;
  color: #913b1b;
  border: 3px dotted orangered;
  margin: 50px;
  padding: 15px;
  background-image: url(bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#div10 ul {
  list-style-image: url(icons8-checkbox-24.png);
  list-style-position: inside;
}

::marker {
  color: red;
}


#div11{
  min-height: 100px;
  width: 500px;
  background-image: linear-gradient(to right, rgb(166, 246, 96), rgb(218, 229, 18));
  border: 3px solid rgb(173, 23, 23);
  margin: 10px;
  padding: 10px;  
}

#div12{
  display: flex;
  border: 2px solid deeppink;
  padding: 15px;
  margin: 15px;
  min-height: 400px;
}

.display{
  height: 300px;
  width: 200px;
  display: flex;
}

#md1 {
  background-color: #f15757;
  z-index: 0;
  border: 2px solid black;
}
#md2 {
  background-color: #4ae645;
  z-index: 1;
  margin-left: -30px;
  border: 2px double rgb(231, 12, 12);
  margin-top: 50px;
}#md3 {
  background-color: #ecf157;
  z-index: 2;
  margin-left: -30px;
  border: 2px solid rgb(6, 11, 0);
  margin-top: 75px;
}#md4 {
  background-color: #57caf1;
  z-index: 3;
  margin-left: -30px;
  border: 2px dashed rgb(239, 90, 9);
  margin-top: 100px;
}#md5 {
  background-color: #f157c5;
  z-index: 4;
  margin-left: -30px;
  border: 2px solid rgb(3, 183, 248);
  margin-top: 125px;
}


#div13{
  display: flex;
  border: 2px solid deeppink;
  padding: 15px;
  margin: 15px;
  height: 600px;
  width: 90vw;
}

.position{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  display: flex;
}

#d1 {
  background-color: #f15757;
  position: relative;
  right: 10px;
  top: 50px;
}
#d2 {
  background-color: #4ae645;
  position: absolute;
  right: 100px;
}#d3 {
  background-color: #ecf157;
  position: static;
}#d4 {
  background-color: #57caf1;
  position: fixed;
  top: 0px;
  right: 10px;
  opacity: 0.07;
}#d5 {
  background-color: #f157c5;
  position: sticky;
  bottom: 0;
}

#div14 {
  background-color: #6cc4e2;
  border: 2px solid greenyellow;
  padding: 15px;
  margin: 15px;
  animation: myanimation 5s ease-in 2s 1 forwards;
}
/* #div14:hover {
  animation: ;
} */
@media screen and (max-width: 700px) {
  #div14 {background-color: #f27c7c;
    width: 50%;
    cursor: progress;
    
  }
  button:hover {background-color: #4ae645;
    cursor: grab;}
}

#div15{
  min-height: 100px;
  width: 500px;
  background-color: antiquewhite;
  border: 3px solid rgb(173, 23, 23);
  margin: 10px;
  padding: 10px;  
  transition: width 3s ease-in-out , transform 3s ease-in;
}
#div15:hover{
  width: 300px;
  transform: translate(50px);
}

@keyframes myanimation{
  from {
    height: 100px;
  } to { height : 300px; }
}


#div16{
  min-height: 100px;
  min-width: 800px;
  background-color: rgb(246, 180, 94);
  border: 3px solid rgb(3, 30, 1);
  margin: 10px;
  padding: 10px;
  display: flex;
}

#pc{
  height: 900px;
  width: 300px;
  background-color: rgb(94, 246, 135);
  border: 3px solid rgb(210, 32, 32);
  margin: 10px;
  padding: 10px;
}

#div16 #pc #first-child p:first-child {
  background-color: yellow;
}

#div16 #pc #last-child p:last-child {
  background-color: rgb(70, 167, 219); 
}

#div16 #pc #lhva {
  /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 


border: 1px solid black;
}


#pe{
  min-height: 100px;
  width: 300px;
  background-color: rgb(94, 203, 246);
  border: 3px solid rgb(210, 32, 151);
  margin: 10px;
  padding: 10px;
}

#pe #after {
  border: 1px solid black;
}
#after h4::after {
  content: " {HEY THERE} ";
}

#before {
  border: 1px solid black;
}
#before h4::before {
  content: " {HEY THERE} ";
}

#first-letter {
  border: 1px solid black;
}
#first-letter h4::first-letter {
  font-size: 50px;
}

#first-line {
  border: 1px solid black;
}
#first-line h4::first-line {
  color: #f15757;
}

#selection {
  border: 1px solid black;
}
#selection ::selection {
  color: #f15757;
  background-color: yellow;
}

#placeholder {
  border: 1px solid black;
}
#placeholder ::placeholder {
  color: red;
}


#div17{
  min-height: 100px;
  min-width: 300px;
  background-color: rgb(111, 219, 111);
  border: 3px solid rgb(230, 121, 11);
  margin: 10px;
  padding: 10px;
}

#grid-container1 {
  display: grid;
  grid-template-columns: 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px ;
  grid-gap: 20px;
  border: 1.5px solid #f15757;
  width: 600px;
  height: 300px;
  margin: 15px;
}

.grid-box {
  background-color: #f15757;
  border: 1px solid #0c0303;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  
}


#grid-container2 {
  display: grid;
  /* grid-template-columns: 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px ; */
  grid-template: 100px 100px 100px / 100px 100px 100px;
  grid-gap: 20px;
  border: 1.5px solid #f15757;
  width: 600px;
  height: 600px;
  margin: 15px;
  justify-content: center;
  align-content: center;
}

#grid-item10 {
  background-color: #35d89d;
  grid-area: 3 / 1 / 3 / span 2 ; 
  /* grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3; */
}

#grid-item13 {
  background-color: #f15757;
  grid-area: 2 / 1 / 2 / 1 ;
  
}


#grid-container3 {
  display: grid;
  /* grid-template-columns: 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px ; */
  grid-template: 100px 100px 100px / 100px 100px 100px;
  grid-template-areas: 
  'header header header'
  'main menu menu'
  'main footer footer';
  grid-gap: 20px;
  border: 1.5px solid #340523;
  width: 500px;
  height: 400px;
  margin: 15px;
  align-content: space-evenly;
  justify-content: space-evenly;
}

#grid-item15 {
  grid-area: header;
}

#grid-item16 {
  grid-area: menu;
}

#grid-item17 {
  grid-area: main;
} 

#grid-item18 {
  grid-area: footer;
}


#grid-container4 {
  display: grid;
  grid-template-columns: 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px ;
  grid-auto-columns:  100px;
  grid-auto-rows: 100px ;
  grid-auto-flow: column;
  grid-gap: 20px;
  border: 1.5px solid #0e3114;
  width: 900px;
  height: 400px;
  margin: 15px;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

#grid-item30 {
  background-color: #35d89d;
  display: grid;
  grid-template-columns: 25px 25px 25px;
  grid-template-rows: 25px 25px 25px;
}


.nestedgrids{
  border: 1px solid black;
  font-size: 15px;
}

#ng3 {
  grid-area: 1 / 3 / 3 / 3;
  background-color: #0e3114;

}

#div18{
  min-height: 100px;
  min-width: 300px;
  background-color: rgb(66, 118, 152);
  border: 3px solid rgb(70, 151, 55);
  margin: 10px;
  padding: 10px;
}

#flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(113, 238, 113);
  border: 3px solid rgb(27, 68, 99);
  margin: 10px;
  padding: 10px;
}

.flex-box {
  background-color: rgb(125, 180, 217);
  border: 3px solid rgb(70, 151, 55);
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  font-size: 20px;
  text-align: center;
}

#flex-container2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(140, 189, 227);
  border: 3px solid rgb(227, 49, 49);
  margin: 10px;
  padding: 10px;
  height: 400px;
}

#flex-item15 {
  flex-shrink: 3;
}

#flex-item17 {
  order: 1;
  flex-grow: 3;
}

#flex-item21 {
  order: 2;
  flex-grow: 4;
}





#flex-item22 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  align-content: center;
  background-color: rgb(140, 189, 227);
  border: 3px solid rgb(227, 49, 49);
  margin: 10px;
  padding: 10px;
}

.nestedflexs{
  border: 1px solid black;
  width: 20px;
}
#nf3 {
  order: 1;
}










